/* FONTS -----
	
	HEADER 	  - font-family: 'cartogothic_stdregular';
	
	BODY TEXT - font-family: 'cartogothic_stdregular';

*/

/* CONST STYLES ----- */

body {
	background: #1e1e1e;
	color: #F0F0F0;
	font-family: 'cartogothic_stdregular';
}

.container {
	width: 1220px;
	margin-left: auto;
	margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 { 
	font-family: 'cartogothic_stdregular';
	font-weight: 500;
	color: #F0F0F0;
	padding-top:10px;
	padding-left:10px;	
}

.metro-header {
	height:75px;
	width:100%;
	background:#666;
}

.metro-header h1 {
	text-align:center;
	line-height:80px;
	position:relative;
	bottom:12.5px;
	-moz-transition:ease-in-out 0.5s;
}

.metro-header h1:hover {
	bottom:95px;
}

.metro-layer {
	height:250px;
	margin-bottom:10px;
	width:100%;
	position:relative;
	background:#161616;
}

.metro-layer .util-box {
	height:250px;
	width:250px;
	background:#fff;
}

.metro-layer .util-content {
	height:250px;
	width:500px;
	background:rgba(0,0,0,0.50);
}

.metro-layer .util-box .util-icon {
	color:#000;
	text-align:center;
	font-size:95px;
}

/* FLOATS ----- */

.fl-l {
	float: left;
}

.fl-r {
	float: right;
}