/* FONTS -----
	
	HEADER 	  - font-family: 'cartogothic_stdregular';
	
	BODY TEXT - font-family: 'cartogothic_stdregular';

*/

/* CONST STYLES ----- */

body {
	background: #1e1e1e;
	color: #F0F0F0;
	font-family: 'cartogothic_stdregular';
}

.container {
	width: 1220px;
	margin-left: auto;
	margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 { 
	font-family: 'cartogothic_stdregular';
	font-weight: bold;
	color: #F0F0F0;
	padding-top:10px;
	padding-left:10px;
}

.metro-header {
	height:75px;
	width:100%;
	background-image:url(dark_mosaic.png);
	background-repeat:repeat;
	overflow:hidden;
}

.metro-header h1 {
	text-align:center;
	line-height:80px;
	position:relative;
	bottom:12.5px;
	-moz-transition:ease-in-out 0.5s;
	font-weight:lighter;
	color:rgba(117,134,255,1);
}

.metro-header h1:hover {
	bottom:95px;
}

.metro-layer {
	height:250px;
	margin-top:10px;
	width:100%;
	position:relative;
	background:#161616;
}

.eil {
	left:0px;
}

.eir {
	right:0px;
}

.metro-layer:hover .eil {
	left:50px;
}

.metro-layer:hover .eir {
	right:50px;
}

.metro-layer .util-box {
	position:relative;
	height:250px;
	width:250px;
	background:#fff;
	-moz-transition:ease-in-out 0.5s;
	border-radius:125px;
	box-shadow:0 0 5px rgba(0,0,0,0.05);
}

.metro-layer:hover .util-box {
	background-color:rgba(117,134,255,1);
	box-shadow:0 0 5px rgba(0,0,0,0.50);
}

.metro-layer .util-content {
	position:relative;
	height:250px;
	width:500px;
	background:rgba(0,0,0,0.50);
	-moz-transition:ease-in-out 0.5s;
}

.metro-layer .util-content p {
	padding:10px;
	margin-top:-10px;
	font-weight:lighter;
}

.metro-layer .util-box .util-icon {
	text-align:center;
	font-size:95px;
}

.metro-layer .util-box .util-icon a {
	color:#000;
}

/* FLOATS ----- */

.fl-l {
	float: left;
}

.fl-r {
	float: right;
}